* {

  box-sizing: border-box;
  margin: 0 auto;
  padding:0;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
   
  font-family: 'Open Sans', sans-serif;

  font-size: 14px;
  text-align: center;
  background-color: rgb(245, 243, 245);

 }

 /* ---------- Link Styles ---------- */
a:link {
  text-decoration: none;
  color: rgba(84, 81, 81, 0.81);
}

a:visited {
  color:rgb(167, 168, 171);

}
a:hover{
  color:rgb(46, 106, 165);
}

  
  
  
   /* --------------------Header Menu--------------- */
 .name {
   
  margin-top: 30px;
  margin-bottom: 30px;
    
  }
  p{
    color: rgba(84, 81, 81, 0.81);
  }
  .main-nav li a {
    text-transform: uppercase;
    font-size: 18px;
     font-weight: bold;
     text-decoration: none;
     color:rgb(28, 26, 26);
  }
  
  
  .intro{
   
   padding-bottom:5%;
    font-size: 16px;
    margin:2em 1em 2em 1em; 
    
   }

   h1,h2,h3{
    font-family: 'Satisfy', cursive;
   }

   /* -----------------------Images--------------- */
     .profile-pic {
       width: 65%;
       margin-top:5%;
       margin-bottom:5%;
     }
     .portfolio-pic{
       width:80%;
       margin-top:10%;
       margin-bottom:10%;
     }

    
    
 /* --------------------Container ---------------- */
 


  
   .container{
    background-color: white;
   padding-top:5px;
   padding-bottom:10%;
    text-align: center;
    font-size: 20px;
   
  }

  .container-wrapper h2{
    background-color: white;
    text-transform: uppercase;
    padding-top:36px;
    color: rgba(19, 18, 18, 0.619);
    line-height: 1.9;
    font-size: 30px; 
  }

   h1{ 
  
    text-align: center;
    
    margin-left:10px;
    margin-right:10px;
    color: rgba(19, 18, 18, 0.619);
   
    font-size: 30px;  
  }
   h3{
    color: rgba(19, 18, 18, 0.619);
    margin-bottom:10px;
  }


   .container p {
    margin-left: 25px;
    margin-right: 25px;
    font-size:16px;
   }

   
    
 /* -----------------------Footer----------------------- */

    .footer-contact {
      padding-top:5%;
      padding-bottom:5%;
    }

   .main-footer li {
    margin-right: 16px; 
  list-style: none
  }
    
  
  .main-footer ul {
    
    right:5%;
    display:flex;
    
  }
  .contact-container {
    margin-left:10%;
    margin-right:10%;
    font-size: 14px;
    padding-bottom: 4em;
    padding-top: 1em;
  }
  .contact-container h3{
    padding-bottom:5%;
    font-size:16px;
    color: rgb(59, 56, 56);
  }
  
  .footer-contact p{
    padding-bottom:100%;
  }
    
  
    .main-nav{
      
      padding: 0 16px;
    }
  
    .main-nav li {
    list-style: none; 
    background-color: #ffffff; 
    margin-left:10px;
   padding: .75em;
   margin-bottom: 0.5em;
   
  }
  
  
  .main-nav li a {
    text-transform: uppercase;
    text-decoration: none; 
     font-weight: bold;
    color: rgb(59, 56, 56);
  }
      

   .footer2  {
    background-color: rgb(245, 243, 245);
      list-style: none;
      display:flex;
     
      border-top:solid  rgb(199, 198, 198)1px;
      
    }
    h5 {
      
      
      padding-bottom:10%;
      padding-top:10%;
      font-size: 12px;  
    }

    
    .top1 {
      
      left: 90%;
      
      text-transform: uppercase;
      
    }

    .name-footer p {
      right: 90%;
     
      text-decoration: none;
    
    }
    

    .main-footer ul {
      display:flex;
      width:100%;
      margin:auto;

    }
    
    .main-footer{
      border-top: solid rgb(199, 198, 198) 1px;
    }

    .main-footer {   /* hides the other menue bars */
      display: none;  
      }

      
  
  

  /*------------------------------------------------ */
             /*   Media Queries 768 */
  /*------------------------------------------------ */
 
       @media(min-width:768px) {
       
  .main-nav ul{
    
    margin-top:5%;
    display: flex; 
   
  }


  .main-nav li {
  list-style: none; 
  background-color: rgb(245, 243, 245);
  
  text-align:center;
  
}

.main-nav li a {
  text-transform: uppercase;
  text-decoration: none; 
   font-weight: bold;
   color: rgb(196, 63, 14);
  
  
  text-align: center;
}

 

/*--- Header intro ------ */



.intro {
  
  font-size: 20px;
  margin-right: 50%;
  margin-left: 2em;
  margin-top:1em;
  text-align: left;
 
}
.profile-intro {
  margin-bottom: 15%;
  
}
  

    /*--- images ------ */

    
    .profile-pic{
      position: absolute;
      
      width: 40%;
      bottom:-2em;
      right:2em;
       top:-2em;
      
      
    }
    .portfolio-pic{
      width:96%;
      margin-top:10%;
      margin-bottom:10%;
    }
   
    .profile-intro{
      position: relative;
    }
     
     
      
    

     /*----------container-------- */
      .container {
        display: grid;
        grid-template-columns: repeat(2,1.2fr);
        
        background-color: white;
        padding-left: 5%;
        padding-right:5%;
      }
     
      
      
       /*----------Footer-------------- */
       .main-footer {
         display:flex;
         padding-left: 5em;
         
       }
       .main-footer ul {
         list-style:none;
    
       }

       
       .main-footer li {
        padding-top: 3.5em;
        padding-left: 26px; 
        margin-bottom:10%;
        font-size:14px;
        color: rgb(19, 17, 17);
       }
       
       .main-footer li a{
         display:flex;
         text-transform: uppercase;
         color: rgb(19, 17, 17);
         font-weight: bold;
       }

       .footer-wrapper  div {
       display:flex;
      
        
      }
      
      .footer-wrapper {
         float: left;
         width:50%;
         margin-left:-5%;
         margin-top: 16px;
         margin-bottom: 0.75em;
         display:flex;
         
       
         
      }

      .student-name {
          font-size: 18px;
          color: rgb(55, 49, 49);
      }
      .contact-container {
        margin-left:25%;
        margin-right:25%;
        

      
      }
     
     .footer2 {
       display:none;
     }

   }
    
    

  /*------------------------------------------------ */
    /*@media (min-width: 1024px) */
   /*------------------------------------------------ */
  @media(min-width: 1024px) {
    .container  {
      display:grid;
      grid-template-columns:repeat(3, 1.9fr);
      justify-content: center;
  }
 
/*---------------Main Nav -------------- */
 .header-nav{
   display:flex;
   justify-content: space-between;
 }


 .main-nav li {
   margin-top:0.75em;
   margin-left:6em;
   

 }

   .main-nav li a{
     font-size:18px;
     color: rgb(14, 196, 117);
   }
  
   
.header-nav h1 {
 
  padding-left:1em;
  font-size: 22px;
  padding-top:15px;
  color: rgb(59, 56, 56);
}

.profile-pic{
  position: absolute;
  left:52%;
  width: 40%;
  bottom:-12em;
  right:2em;
  top:-4em;
  
  
  
  
}
  .profile-intro{
    position: relative;
}

  

/*---------------Footer -------------- */
  .main-footer {
    
    padding-left: 5px; 
    margin-right: 6em;
    
   }

    

     .footer2{
      display:none;
    }
    .main-footer li a{
      display: flex;
    }
    .main-footer ul {
      display:flex;
      width:100%;
      margin:auto;
    
  }
   
}
